<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=10.2.16.1025, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
</configSections>
<Telerik.Reporting>
    <Cache provider="" />
    <cache provider="" />
    <assemblyReferences>
        <add name="Oereb.Service.DataContracts" version="1.0.0.0" />
        <add name="Oereb.Report" version="1.0.0.0" />
    </assemblyReferences>
    <SessionState provider="" />
    <restReportService>
        <storage provider="" />
        <reportResolver provider="" />
    </restReportService>
</Telerik.Reporting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
