<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <configSections>
   <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="OerebSettings">
      <section name="AvailableCantonsAndTopics" type="System.Configuration.DictionarySectionHandler" />
      <section name="AvailableCantonsRedirected" type="System.Configuration.DictionarySectionHandler" />
      <section name="AccessTokens" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/global.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %class : %method, %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="offsetBorder" value="10" />
    <add key="offsetBorderTitle" value="0" />
    <add key="attestation" value="true" />
    <add key="distinct" value="true" />
    <add key="markDistinct" value="true" />
    <add key="logFilesXml2Pdf" value="true" />
  </appSettings>

  <!-- Add Custom Config section -->
  <OerebSettings>
    <AvailableCantonsAndTopics>
      <add key="nw" value="73,88,96,97,103,104,108,116,117,118,119,131,132,145,157,159,73A,87,43-NW,103-NW" />
      <add key="ow" value="73,88,96,97,103,104,108,116,117,118,119,131,132,145,157,159,73A,87,32-OW" />
      <add key="ur" value="73,88,96,97,103,104,108,116,117,118,119,131,132,145,157,159,73A,87" />
    </AvailableCantonsAndTopics>
    <AvailableCantonsRedirected>
      <add key="ur" value="https://localhost/test" />
    </AvailableCantonsRedirected>
    <AccessTokens>
      <add key="ace44f26-e8a0-4e3b-a31e-1165612addd1" value="Kanton NW/OW" />
      <add key="6996723a-13ed-4851-aa10-92dd6229afbe" value="Kanton UR" />
      <add key="09407136-8b30-48a9-905b-3ae5bcb1c376" value="Kanton ZG" />
      <add key="b40a1940-71c0-4bf6-a630-56658c944f5e" value="Kanton TI" />
      <add key="c3ce741e-a9f3-442e-97a5-9df5feb24f19" value="Kanton BS" />
      <add key="c1156d4a-0ac8-4b97-8cb6-551d206e4bca" value="Kanton SH" />
      <add key="5cd5396a-6f58-43f9-a56d-90c48702d929" value="Kanton FR" />
      <add key="df3b5844-ba7a-46f4-b201-273946d6d4b4" value="Kanton SZ" />
      <add key="f25056ca-1396-4ef5-99e0-b451a6b03b19" value="Kanton SO" />
    </AccessTokens>
  </OerebSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="40960" />
  	<globalization culture="de-CH" uiCulture="de-CH" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
